.navbar-nav .active {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #fff;
}

.text-shadow-blue {
    text-shadow:
    0 0 7px #0d6efd,
    0 0 10px #0d6efd,
    0 0 21px #0d6efd,
    0 0 42px #0d6efd,
    0 0 82px #0d6efd,
    0 0 92px #0d6efd,
    0 0 102px #0d6efd,
    0 0 151px #0d6efd;
}

.box-shadow-blue {
    box-shadow:
    0 0 7px #0d6efd,
    0 0 10px #0d6efd,
    0 0 21px #0d6efd,
    0 0 42px #0d6efd,
    0 0 82px #0d6efd,
    0 0 92px #0d6efd,
    0 0 102px #0d6efd,
    0 0 151px #0d6efd;
}

.box-shadow-blue-sm {
    box-shadow:
    0 0 10px #0d6efd,
    0 0 35px #0d6efd;
}

.box-shadow-red-sm {
    box-shadow:
    0 0 10px #dc3545,
    0 0 35px #dc3545;
}

.text-shadow-white-sm {
    text-shadow:
    0 0 10px white,
    0 0 35px white;
}